@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="register">
    <h1 class="display-4">Bienvenido</h1>
</div>

<button onclick="findMe();">Mostrar ubicación</button>
	<div id="map"></div>
